li {
 list-style: none;
}
body {
 font-family: sans-serif;
}
footer {
	background-color: #00cec9;
	color: #fff;
	height: 125px;
	padding: 40px;
	overflow: hidden;
}
.col {
	width: 32%;
	display: inline-block;
	padding: 1% 0;
}
.col h2 {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0 10px;
}
.col li {
	margin: 0px;
	padding: 10px;
}

